@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGC-IiwWNzQT_LXAtr-Ee9Pw.woff) format('woff');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}

body {
    background-color: white;
    color: #666;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 11em;
    background-color: #6BB130;
}

h1 {
    margin: 2em 3em 2em 2em;
    font-size: 0.9em;
    position: relative;
}

h1 img {
    width: 100%;
}

@-webkit-keyframes rotation { to { -webkit-transform: rotate(360deg); } }
@-moz-keyframes rotation { to { -moz-transform: rotate(360deg); } }
@-ms-keyframes rotation { to { -ms-transform: rotate(360deg); } }
@-o-keyframes rotation { to { -o-transform: rotate(360deg); } }
@keyframes rotation { to { transform: rotate(360deg); } }

#gbg,
#gsm {
    position: absolute;
    -webkit-animation: rotation linear infinite;
    animation: rotation linear infinite;
}

#gbg {
    position: absolute;
    width: 60%;
    left: 0;
    top: 35%;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}

#gsm {
    position: absolute;
    width: 30%;
    left: 56%;
    top: 28%;
    -webkit-animation-duration: 6450ms;
    animation-duration: 6450ms;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

header ul {
    list-style: none;
    padding-left: 0;
}

header a,
header a:visited,
header a:active {
    display: block;
    font-size: 0.9em;
    text-decoration: none;
    color: white;
    padding: 1em 2em;
    position: relative;
}

header a:hover,
[data-selected='game+launch'] [data-tag='game+launch'],
[data-selected='loading'] [data-tag='loading'],
[data-selected='main+menu'] [data-tag='main+menu'],
[data-selected='settings'] [data-tag='settings'],
[data-selected='pause+menu'] [data-tag='pause+menu'],
[data-selected='level+select'] [data-tag='level+select'],
[data-selected='store'] [data-tag='store'],
[data-selected='tutorial'] [data-tag='tutorial'],
[data-selected='achievements'] [data-tag='achievements'],
[data-selected='end+of+level'] [data-tag='end+of+level'] {
    background-color: #508922;
}

[data-selected='game+launch'] [data-tag='game+launch']:after,
[data-selected='loading'] [data-tag='loading']:after,
[data-selected='main+menu'] [data-tag='main+menu']:after,
[data-selected='settings'] [data-tag='settings']:after,
[data-selected='pause+menu'] [data-tag='pause+menu']:after,
[data-selected='level+select'] [data-tag='level+select']:after,
[data-selected='store'] [data-tag='store']:after,
[data-selected='tutorial'] [data-tag='tutorial']:after,
[data-selected='achievements'] [data-tag='achievements']:after,
[data-selected='end+of+level'] [data-tag='end+of+level']:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    left: 100%;
    top: 0;
    position: absolute;
    border: outset transparent;
    border-width: 1.6em 0.75em;
    border-left-style: solid;
    border-left-color: #508922;
}

section {
    padding-left: 11em;
}

h2 {
    font-weight: 200;
    font-size: 3em;
    margin: 1em;
}

h2 strong {
    color: #6BB130;
    font-weight: 400;
}

ol {
    list-style: none;
    overflow: hidden;
    padding-left: 0;
}

ol li {
    overflow: hidden;
    text-align: center;
}

article {
    background-color: #eee;
    border-radius: 0.5em;
    padding: 1em;
    margin: 0 0.5em 2em;
    text-align: left;
    display: inline-block;
}

article img {
    border: 1px solid #ddd;
    max-width: 100%;
    display: block;
    margin-bottom: 0.75em;
    background-size: 100%;
    background-color: #ddd;
}

article p {
    font-size: 1.4em;
    display: inline;
}

article time {
    display: inline-block;
    margin-left: 0.5em;
    font-weight: 200;
    color: #999;
}

@media all and (min-width:1024px) {
    ol li {
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }
}